<div class="row mt-2 mb-3">
	<div class="col-lg-6 offset-lg-3 offset-sm-0 offset-xs-0">
		<div class="container">
			<%= render "form", btn_msg: "update", btn_color: "btn-outline-primary", title: "Edit"%>
		</div>
	</div>
</div>